#exercises-list h3 {
    font-family: 'Antic', sans-serif;
    font-size: 2vw;
}
#exercises-list {
    font-family: 'Antic', sans-serif;
}
#exercises-list th {
    font-size: 1.3vw;
}
#exercises-list td {
    font-size: 1.1vw;
}

@media only screen and (max-width: 600px) {
    #exercises-list h3 {
        font-size: 5vw;
    }
    #exercises-list {
        padding: 0px;
    }
    #exercises-list th {
        font-size: 3.8vw;
    }
    #exercises-list td {
        font-size: 3.6vw;
    }

}