#exercises-list h3 {
    font-family: 'Antic', sans-serif;
}
#exercises-list {
    font-family: 'Antic', sans-serif;
}

@media only screen and (max-width: 600px) {
    #exercises-list td {
        padding: 10px 0px;
    }

}