.jumbotron {
    font-family: 'Antic', sans-serif;
    font-size: 1.3vw;
}
.jumbotron h3 {
    font-family: 'Antic', sans-serif;
    font-size: 2vw;
}
.form-control {
    font-family: 'Antic', sans-serif;
    font-size: 1.5vw;
}
#date {
    font-family: 'Antic', sans-serif;
    padding: 8px;
}
.btn {
    font-size: 1.2vw;
}

@media only screen and (max-width: 600px) {
    .jumbotron h3 {
        font-size: 6vw;
    }
    .form-label {
        font-size: 3.5vw;
    }
    .form-control {
        font-size: 3vw;
    }
    #date {
        font-size: 3vw;
    }
    .btn {
        font-size: 4vw;
        padding: 10px;
    }

}