#navbar-brand {
    color: rgb(129, 215, 236);
    font-size: 2vw;
    margin: 30px 0px;
}
.nav-link {
    border-bottom: 2px solid black; 
    padding: 30px 20px;
    font-size: 1.3vw;
    text-align: center;
}
#navbar {
    height: 100%;
}

@media only screen and (max-width: 600px) {
    #navbar {
        border-bottom: 2px solid black;
    }
    #navbar-brand {
      font-size: 6.5vw;
      margin-top: 20px;
      margin-left: 15px;
    }
    #navbar-col {
        height: 11vh;
    }
    #responsive-navbar-nav {
        background-color: #343a40;
        z-index: 1;
    }
    .navbar-nav:first-child {
        border-top: 2px solid black;
        margin-top: 2px;
    }
    .nav-link {
        font-size: 5vw;
    }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  #navbar-brand {
      font-size: 4vw;
  }
  .nav-link {
      font-size: 3.5vw;
      line-height: 1.2;
  }
  }